/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.app-container {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323943;
  color: #189D42;
  padding: 0px;
}

.logo {
  background-color: #16a085;
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.title {
  font-size: 24px;
  margin: 0;
}

.main-content {
  padding: 20px;
}

.list-title {
  color: #2c3e50;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  display: grid;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-field {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-button {
  background-color: #189D42;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #158338;
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  background-color: white;
  margin: 5px auto;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
